@model List<ShopManagement.Application.Contracts.Inventory.InventoryOperationViewModel>
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">سوابق گردش انبار</h4>
</div>


<div class="modal-body">
    <table id="datatable" class="table table-bordered">
        <thead>
            <th>#</th>
            <th>تعداد</th>
            <th>زمان عملیات</th>
            <th>عملیات</th>
            <th>موجودی فعلی</th>
            <th>انجام شده توسط</th>
            <th>توضیحات</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="text-white @(item.Operation ? "bg-success" : "bg-danger")">
                    <td>@item.Id</td>
                    <td>@item.Count</td>
                    <td>@item.OperationDate</td>
                    <td>
                        @if (item.Operation)
                        {
                            <span>افزایش</span>
                        }
                        else
                        {
                            <span>کاهش</span>

                        }

                    </td>
                    <td>@item.CurrentCount</td>
                    <td>@item.OperatorName</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <a onclick="$('.modal-dialog').css('width', 'unset')">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
    </a>
</div>